.interestcontainer{
	margin: auto;
}
.interest{
	background-color: hsl(0, 0%, 100%);
	margin: 1px;
	min-width: 100px;
	padding: 0 5px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid transparent;
	transition: background-color 0.1s ease, border-color 0.3s ease;
	user-select: none;
	display: inline-block;
}
.interest:hover{
	border-color: hsl(0, 0%, 75%);
	cursor: pointer;
}
.selected{
	background-color: hsl(0, 0%, 75%);
}
.profilesection{
	background-color: hsl(0, 0%, 95%);
	border-radius: 10px;
	padding: 20px;
	border: 1px solid hsl(0, 0%, 75%);
	transition: border-color 0.3s ease;
	color: inherit;
	margin: 10px;
}
.prosectionheader{
	text-align: center;
	font-family: var(--body-font);
	color: black;
}
.savebutton:disabled{
	background-color: hsl(0, 0%, 75%);
	color: hsl(0, 0%, 90%);
}