.fullsearchwrap{
	margin-bottom: 5px;
}
.fullresult{
	background-color: hsl(0, 0%, 95%);
	margin-bottom: 15px;
	/*height: calc(600px - 20vw);*/
	border: 1px solid transparent;
	border-radius: 5px;
	transition: border-color 0.2s ease;
	overflow: hidden;
}
.fullresult:hover{
	border-color: hsl(0, 0%, 80%);
}
.resultbody{
	padding: 10px 15px;
	opacity: 0.9;
}
.resultlink{
	color: inherit;
}
.resultlink:hover{
	text-decoration: inherit;
	color: inherit;
}
.resulthead{
	padding: 20px 15px;
}
.resulttitle{
	font-family: var(--body-font);
	margin-bottom: 0;
}
.searchbar{
	max-width: 80%;
	width: 600px;
	margin: auto;
}
.searchbarwrap{
	padding: 20px;
	background-color: hsl(200, 100%, 90%);
}
#searchbutton{
	width: calc(25% - 3px);
	min-width: initial;
	border-radius: 0;
	border-radius: 0 10px 10px 0;
	vertical-align: top;
	border: 1px solid hsl(0, 0%, 75%);
	height: 46px;
}
#searchtext{
	width: 75%;
	height: 46px;
	border: none;
	border-radius: 10px 0 0 10px;
	padding: 3px 8px;
	vertical-align: top;
	border: 1px solid hsl(0, 0%, 75%);
	border-right: none;
}
#searchtext:focus{outline: none}
.sidead{
	border: 1px solid black;
	-ms-flex: 0 0 302px;
	flex: 0 0 302px;
	height: 600px;
	overflow: hidden;
}
.sidead img, .topad img{
	max-width: 100%;
	max-height: 100%;
}
.taglist{
	color: hsl(0, 0%, 50%);
	margin-bottom: 0;
}
.topad{
	border: 1px solid black;
	width: 302px;
	height: 602px;
	overflow: hidden;
}
.topadcontainer{
	text-align: center;
}

@media screen and (max-width: 768px){
	body{
		font-size: 0.8em;
	}
	h1{
		font-size: 2.5em;
	}
	h4{
		font-size: 1.5em;
	}
}

@media screen and (max-width: 650px){
	.topad{
		width: 202px;
		height: 402px;
	}
}

@media screen and (max-width: 450px){
	.topad{
		width: 152px;
		height: 302px;
	}
	#searchbutton{
		width: 100px;
	}
	#searchtext{
		width: calc(100% - 103px);
	}
}
